@import '../../../styles/breakpoints';
@import '../../../styles/designtemplate';

// Mobile
@media (max-width: $breakpoint-md) {
    header {
        flex-direction: column;
        align-items: center;
        color: $tertiary-color !important;
    
        span {
            color: $tertiary-color !important;
        }
    }

}

header {
    color: $primary-color;
    padding-bottom: unset;
    span {
        color: $primary-color;
    }
}