@import '../../../styles/breakpoints';
@import '../../../styles/designtemplate';

// Mobile
@media (max-width: $breakpoint-md) {
    header {
        flex-direction: column;
        align-items: center;
        color: $tertiary !important;
    
        span {
            color: $tertiary !important;
        }
    }

}

header {
    color: $primary;
    padding-bottom: unset;
    span {
        color: $primary;
    }

    a {
        cursor: pointer;    
    }
    
}