<app-header></app-header>
<div class="background-picture"></div>


<section class="hero pt-md-5">
  <div class="container">
    <h2 class="text-white py-3 py-md-5">
      Discover Your Property's Potential
    </h2>
    <div class="row">

      <div class="col-md-6">
        <app-yield-form></app-yield-form>
      </div>
      <div class="col-md-6">
        <app-line-chart></app-line-chart>
      </div>
      
    </div>
    <app-card-result></app-card-result>
  </div>
</section>