/* You can add global styles to this file, and also import other style files */
// $primary: #ff5722; // Nouvelle couleur pour btn-primary

/* Importing Bootstrap SCSS file. */
@import 'styles/designtemplate';
@import 'styles/breakpoints';
@import 'bootstrap/scss/bootstrap';

body {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    background-color: $secondary;
}