
<div class="row">
    <div class="col-md-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="Purchase price">
            <label for="floatingInput">Purchase price</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingPassword" placeholder="Monthly rent">
            <label for="floatingPassword">Monthly rent</label>
        </div>
        <div class="form-floating mb-4">
            <input type="text" class="form-control" id="floatingPassword" placeholder="Annual rental charges">
            <label for="floatingPassword">Annual rental charges</label>
        </div>
        <button class="btn btn-primary text-white btn-lg">
            Calculate
        </button>
    </div>

    <div class="col-md-6 ">
        <div class="d-flex flex-column align-items-center text-white">
            <h4 class="mb-3">Résultats</h4>
            <span>
                Année 1 : Revenu net = 10000 €, Rendement = 20%
            </span>
            <span>
                Année 2 : Revenu net = 10000 €, Rendement = 20%
            </span>
            <span>
                Année 3 : Revenu net = 10000 €, Rendement = 20%
            </span>
        </div>
    </div>
</div>