
<div class="row">
    <div class="col-md-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="Purchase price">
            <label for="floatingInput">Purchase price</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingPassword" placeholder="Monthly rent">
            <label for="floatingPassword">Monthly rent</label>
        </div>
        <div class="form-floating mb-4">
            <input type="text" class="form-control" id="floatingPassword" placeholder="Annual rental charges">
            <label for="floatingPassword">Annual rental charges</label>
        </div>
        <button class="btn btn-primary text-white btn-lg">
            Calculate
        </button>
    </div>

    <div class="col-md-6 ">
        <!-- <div class="d-flex flex-column align-items-center text-white">
            <h4 class="mb-3">Results</h4>
            <span>
                Année 1 : Revenu net = 10000 €, Rendement = 20%
            </span>
            <span>
                Année 2 : Revenu net = 10000 €, Rendement = 20%
            </span>
            <span>
                Année 3 : Revenu net = 10000 €, Rendement = 20%
            </span>
        </div> -->

        <div class="card-group">
            <div class="card bg-secondary">
              <div class="card-body">
                <h5 class="card-title">Year 1</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card bg-secondary">
              <div class="card-body">
                <h5 class="card-title">Year 2</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card bg-secondary">
              <div class="card-body">
                <h5 class="card-title">Year 3</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
</div>